In [7]:
import os

import pandas as pd

In [8]:
data_path = os.path.join('..', 'data', 'raw')

In [12]:
df_taxi_owners = pd.read_pickle(os.path.join(data_path, 'taxi_owners.p'))
df_taxi_vehicles = pd.read_pickle(os.path.join(data_path, 'taxi_vehicles.p'))

In [15]:
import magic
magic.from_file('../data/raw/taxi_owners.p')

'data'

In [14]:
f = magic.Magic(mime=True)
f.from_file('../data/raw/taxi_owners.p')

'application/octet-stream'

In [16]:
f = magic.Magic(mime=True)
f.from_file('../data/interim/db.sqlite')

'application/vnd.sqlite3'

In [17]:
f = magic.Magic(mime=True)
f.from_file('../data/interim/small_data.xlsx')

'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'

In [18]:
magic.from_file('../data/interim/small_data.xlsx')

'Microsoft Excel 2007+'

In [19]:
magic.from_file('../data/interim/db.sqlite')

'SQLite 3.x database, last written using SQLite version 3047001, file counter 3, database pages 6, cookie 0x2, schema 4, UTF-8, version-valid-for 3'

In [22]:
magic.from_file('../reports/figures/tate_work_check.jpg')

'JPEG image data, JFIF standard 1.01, resolution (DPI), density 100x100, segment length 16, baseline, precision 8, 1200x800, components 3'

In [23]:
magic.from_file('../reports/figures/tate_work_check.svg')

'SVG Scalable Vector Graphics image'

In [24]:
df_taxi_owners.head()

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618

In [25]:
df_taxi_vehicles.columns

Index(['vid', 'make', 'model', 'year', 'fuel_type', 'owner'], dtype='object')

In [27]:
df_taxi_owners.columns

Index(['rid', 'vid', 'owner', 'address', 'zip'], dtype='object')

In [32]:
df_taxi_owners['vid']

0       6285
1       4862
2       1495
3       4231
4       5971
        ...
3514    4453
3515     121
3516    3465
3517    1962
3518    1031
Name: vid, Length: 3519, dtype: object

In [33]:
df_taxi_own_veh = df_taxi_owners.merge(df_taxi_vehicles, on='vid')

In [34]:
df_taxi_own_veh

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.
...,...,...,...,...,...,...,...,...,...,...
3514,T4453,4453,IMAGIN CAB CORP,3351 W. ADDISON ST.,60618,FORD,ESCAPE,2010,HYBRID,IMAGIN CAB CORP
3515,T121,121,TRIBECA CAB CORP,4536 N. ELSTON AVE.,60630,FORD,C-MAX,2014,HYBRID,TRIBECA CAB CORP
3516,T3465,3465,AMIR EXPRESS INC,3351 W. ADDISON ST.,60618,TOYOTA,CAMRY,2014,HYBRID,AMIR EXPRESS INC
3517,T1962,1962,KARY CAB COMPANY,4707 N. KENTON AVE.,60630,TOYOTA,CAMRY,2014,HYBRID,KARY CAB COMPANY
3518,T1031,1031,NECT 42 LLC,6500 N. WESTERN AVE.,60645,FORD,FUSION,2014,HYBRID,NECT 42 LLC

In [35]:
df_taxi_own_veh.head()

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

### Suffixes

In [39]:
df_taxi_owners.merge(df_taxi_vehicles, on='vid', suffixes=['_owners', '_vehicles']).head()

,rid,vid,owner_owners,address,zip,make,model,year,fuel_type,owner_vehicles
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

### Indicator

In [38]:
df_taxi_owners.merge(df_taxi_vehicles, on='vid', indicator=True).head()

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y,_merge
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC,both
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.,both
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC.",both
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.,both
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.,both

In [40]:
df_taxi_owners.merge(df_taxi_vehicles, on='vid', indicator=True)['_merge'].value_counts()

_merge
both          3519
left_only        0
right_only       0
Name: count, dtype: int64

### Validate

In [41]:
df_taxi_owners.merge(df_taxi_vehicles, on='vid', validate='one_to_one').head()

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

In [45]:
df_taxi_owners_sample = df_taxi_owners.sample(frac=.8)
df_taxi_owners_duplicated = pd.concat([df_taxi_owners, df_taxi_owners_sample], ignore_index=True)

In [50]:
df_taxi_owners_duplicated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6334 entries, 0 to 6333
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rid      6334 non-null   object
 1   vid      6334 non-null   object
 2   owner    6334 non-null   object
 3   address  6334 non-null   object
 4   zip      6334 non-null   object
dtypes: object(5)
memory usage: 247.6+ KB

In [46]:
df_taxi_owners_duplicated.merge(df_taxi_vehicles, on='vid', validate='one_to_one').head()

MergeError: Merge keys are not unique in left dataset; not a one-to-one merge

In [51]:
df_taxi_owners_duplicated.merge(df_taxi_vehicles, on='vid', validate='many_to_one').head()

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

In [54]:
df_taxi_owners_duplicated.merge(df_taxi_vehicles, on='vid', validate='many_to_one')['vid'].value_counts()

vid
1031    2
6285    2
4862    2
1495    2
4231    2
       ..
5732    1
3784    1
5694    1
5494    1
6324    1
Name: count, Length: 3519, dtype: int64

### ignore_index

In [55]:
df_5 = df_taxi_owners.head(5)
df_15 = df_taxi_owners.iloc[15:21]

In [56]:
df_5

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618

In [57]:
df_15

      rid   vid                       owner                address    zip
15  T5494  5494               NBA TAXI INC.  4020 W. GLENLAKE AVE.  60646
16   T227   227              BABY CAB CORP.    2617 S. WABASH AVE.  60616
17  T1609  1609                 MG & KA INC    3351 W. ADDISON ST.  60618
18  T1447  1447  SNOWSTORM II HACKING CORP.    2617 S. WABASH AVE.  60616
19   T468   468               M ASANTE INC.    3351 W. ADDISON ST.  60618
20   T799   799               ALAM ENT INC.   5501 N. MELVINA AVE.  60630

In [58]:
pd.concat([df_5, df_15], ignore_index=False)

      rid   vid                       owner                 address    zip
0   T6285  6285              AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1   T4862  4862                MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2   T1495  1495               FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3   T4231  4231                ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4   T5971  5971              EUNIFFORD INC.     3351 W. ADDISON ST.  60618
15  T5494  5494               NBA TAXI INC.   4020 W. GLENLAKE AVE.  60646
16   T227   227              BABY CAB CORP.     2617 S. WABASH AVE.  60616
17  T1609  1609                 MG & KA INC     3351 W. ADDISON ST.  60618
18  T1447  1447  SNOWSTORM II HACKING CORP.     2617 S. WABASH AVE.  60616
19   T468   468               M ASANTE INC.     3351 W. ADDISON ST.  60618
20   T799   799               ALAM ENT INC.    5501 N. MELVINA AVE.  60630

In [59]:
pd.concat([df_5, df_15], ignore_index=True)

      rid   vid                       owner                 address    zip
0   T6285  6285              AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1   T4862  4862                MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2   T1495  1495               FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3   T4231  4231                ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4   T5971  5971              EUNIFFORD INC.     3351 W. ADDISON ST.  60618
5   T5494  5494               NBA TAXI INC.   4020 W. GLENLAKE AVE.  60646
6    T227   227              BABY CAB CORP.     2617 S. WABASH AVE.  60616
7   T1609  1609                 MG & KA INC     3351 W. ADDISON ST.  60618
8   T1447  1447  SNOWSTORM II HACKING CORP.     2617 S. WABASH AVE.  60616
9    T468   468               M ASANTE INC.     3351 W. ADDISON ST.  60618
10   T799   799               ALAM ENT INC.    5501 N. MELVINA AVE.  60630

In [62]:
pd.concat([df_5, df_15], ignore_index=False).reset_index(drop=False)

,index,rid,vid,owner,address,zip
0,0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630
1,1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659
2,2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618
3,3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645
4,4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618
5,15,T5494,5494,NBA TAXI INC.,4020 W. GLENLAKE AVE.,60646
6,16,T227,227,BABY CAB CORP.,2617 S. WABASH AVE.,60616
7,17,T1609,1609,MG & KA INC,3351 W. ADDISON ST.,60618
8,18,T1447,1447,SNOWSTORM II HACKING CORP.,2617 S. WABASH AVE.,60616
9,19,T468,468,M ASANTE INC.,3351 W. ADDISON ST.,60618
10,20,T799,799,ALAM ENT INC.,5501 N. MELVINA AVE.,60630

### left_on, right_on