In [1]:
import pandas as pd

df = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2], 'Sure': [1000, 2000]})

In [2]:
df

   Yes   No  Sure
0   50  131  1000
1   21    2  2000

In [3]:
df.dtypes

Yes     int64
No      int64
Sure    int64
dtype: object

In [4]:
df.to_csv('file.csv')

In [6]:
import os

os.path.getsize('file.csv')

39

In [7]:
df_2 = pd.DataFrame({'Mike':['I will', 'I guess', 'I was'], 'Kate': ['nice', 'average', 'superb']})
df_2

      Mike     Kate
0   I will     nice
1  I guess  average
2    I was   superb

In [8]:
print(df_2.to_markdown())

|    | Mike    | Kate    |
|---:|:--------|:--------|
|  0 | I will  | nice    |
|  1 | I guess | average |
|  2 | I was   | superb  |

In [9]:
df_2 = pd.DataFrame({'Mike':['I will', 'I guess', 'I was'], 'Kate': ['nice', 'average', 'superb']},
                    index=['Product A', 'Product B', 'Product C'])
df_2

              Mike     Kate
Product A   I will     nice
Product B  I guess  average
Product C    I was   superb

In [16]:
df_2.to_csv('file_df_2.csv')

In [10]:
print(df_2.to_markdown())

|           | Mike    | Kate    |
|:----------|:--------|:--------|
| Product A | I will  | nice    |
| Product B | I guess | average |
| Product C | I was   | superb  |

## Series

In [14]:
s_1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], name='Product A')
s_1

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
Name: Product A, dtype: int64

In [15]:
print(s_1.to_markdown())

|    |   Product A |
|:---|------------:|
| A  |           1 |
| B  |           2 |
| C  |           3 |
| D  |           4 |
| E  |           5 |
| F  |           6 |
| G  |           7 |
| H  |           8 |
| I  |           9 |
| J  |          10 |

In [20]:
sth_f_1 = pd.read_csv('file_df_2.csv')
print(sth_f_1.to_markdown())

|    | Unnamed: 0   | Mike    | Kate    |
|---:|:-------------|:--------|:--------|
|  0 | Product A    | I will  | nice    |
|  1 | Product B    | I guess | average |
|  2 | Product C    | I was   | superb  |

In [19]:
sth_f_1.shape

(3, 3)

In [21]:
sth_f_1.head()

  Unnamed: 0     Mike     Kate
0  Product A   I will     nice
1  Product B  I guess  average
2  Product C    I was   superb

In [22]:
fruit_sales = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]},
                            index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34