In [1]:
import pandas as pd
import numpy as np

reviews = pd.read_csv('artwork_data.csv', low_memory=False)
pd.set_option('display.max_columns', 5)

In [2]:
reviews

,id,accession_number,...,thumbnailUrl,url
0,1035,A00001,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...
69196,122960,T13865,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69197,122961,T13866,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69198,121181,T13867,...,NaN,http://www.tate.org.uk/art/artworks/hatoum-pre...
69199,112306,T13868,...,NaN,http://www.tate.org.uk/art/artworks/creed-work...
69200,127035,T13869,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/brunias-da...

In [4]:
reviews.artistId.idxmax()

42695

In [8]:
reviews.artist.value_counts()

artist
Turner, Joseph Mallord William                                                           39389
Jones, George                                                                             1046
Moore, Henry, OM, CH                                                                       623
Daniell, William                                                                           612
Beuys, Joseph                                                                              578
                                                                                         ...
Andrade, Jonathas de                                                                         1
Rhodes, Lis                                                                                  1
T R Uthco (Doug Hall born 1944, Diane Andrews Hall born 1945, Jody Procter 1944-1998)        1
Atlas, Charles                                                                               1
Walker, Kelley                                                                               1
Name: count, Length: 3336, dtype: int64

In [7]:
reviews['artist'].nunique()

3336

In [6]:
reviews.artist.unique()

array(['Blake, Robert', 'Blake, William', 'Richmond, George', ...,
       'Sterne, Hedda', 'P-Orridge, Genesis', 'Brunias, Agostino'],
      shape=(3336,), dtype=object)

In [4]:
reviews.artistId.mean()

np.float64(1201.0632505310616)

In [3]:
reviews.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [4]:
reviews.artist

0             Blake, Robert
1             Blake, Robert
2             Blake, Robert
3             Blake, Robert
4            Blake, William
                ...
69196    P-Orridge, Genesis
69197    P-Orridge, Genesis
69198          Hatoum, Mona
69199         Creed, Martin
69200     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [9]:
reviews.columns

Index(['accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [20]:
reviews['artist'][0]

'Blake, Robert'

In [21]:
reviews['artist'][1035]

'Beerbohm, Sir Max'

In [24]:
reviews['title'][0]

'A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch'

In [7]:
reviews.loc[0:3,['artist', 'title']]

          artist                                              title
0  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2  Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3  Blake, Robert     Six Drawings of Figures with Outstretched Arms

In [9]:
reviews.iloc[0:3, 5:6]

                                               title
0  A Figure Bowing before a Seated Old Man with h...
1  Two Drawings of Frightened Figures, Probably f...
2  The Preaching of Warning. Verso: An Old Man En...

In [20]:
reviews.iloc[-3:-1,[2,3,4]]

              artist artistRole  artistId
69198   Hatoum, Mona     artist      2365
69199  Creed, Martin     artist      2760

In [16]:
reviews.loc[:3,'artist':'title']

,artist,artistRole,artistId,title
0,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...
1,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f..."
2,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...
3,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms

In [29]:
print(reviews.loc[:10,['artist','title']].to_markdown())

|    | artist         | title                                                                                                          |
|---:|:---------------|:---------------------------------------------------------------------------------------------------------------|
|  0 | Blake, Robert  | A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch |
|  1 | Blake, Robert  | Two Drawings of Frightened Figures, Probably for ‘The Approach of Doom’                                        |
|  2 | Blake, Robert  | The Preaching of Warning. Verso: An Old Man Enthroned Between Two Groups of Figures, by ?William Blake         |
|  3 | Blake, Robert  | Six Drawings of Figures with Outstretched Arms                                                                 |
|  4 | Blake, William | The Circle of the Lustful: Francesca da Rimini (‘The Whirlwind of Lovers’)                                     |
|  5 | Blake, William | Ciampolo the Barrator Tormented by the Devils                                                                  |
|  6 | Blake, William | The Baffled Devils Fighting                                                                                    |
|  7 | Blake, William | The Six-Footed Serpent Attacking Agnolo Brunelleschi                                                           |
|  8 | Blake, William | The Serpent Attacking Buoso Donati                                                                             |
|  9 | Blake, William | The Pit of Disease: The Falsifiers                                                                             |
| 10 | Blake, William | Dante Striking against Bocca Degli Abati                                                                       |

In [32]:
print(reviews.loc[:5,'dimensions'].to_markdown())

|    | dimensions            |
|---:|:----------------------|
|  0 | support: 394 x 419 mm |
|  1 | support: 311 x 213 mm |
|  2 | support: 343 x 467 mm |
|  3 | support: 318 x 394 mm |
|  4 | image: 243 x 335 mm   |
|  5 | image: 240 x 338 mm   |

In [33]:
reviews['dimensions'][0]

'support: 394 x 419 mm'

In [37]:
reviews.iloc[0:5,6:8]

                 dateText                                             medium
0          date not known  Watercolour, ink, chalk and graphite on paper....
1          date not known                                  Graphite on paper
2                 ?c.1785        Graphite on paper. Verso: graphite on paper
3          date not known                                  Graphite on paper
4  1826–7, reprinted 1892                            Line engraving on paper

In [39]:
reviews.iloc[:,1:8:2]

,accession_number,artistRole,title,medium
0,A00001,artist,A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper...."
1,A00002,artist,"Two Drawings of Frightened Figures, Probably f...",Graphite on paper
2,A00003,artist,The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper
3,A00004,artist,Six Drawings of Figures with Outstretched Arms,Graphite on paper
4,A00005,artist,The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper
...,...,...,...,...
69196,T13865,artist,Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood"
69197,T13866,artist,Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t..."
69198,T13867,artist,Present Tense,Soap and glass beads
69199,T13868,artist,Work No. 227: The lights going on and off,Gallery lighting
69200,T13869,artist,Dancing Scene in the West Indies,Oil paint on canvas

In [40]:
reviews.iloc[:3,1]

0    A00001
1    A00002
2    A00003
Name: accession_number, dtype: object

In [41]:
reviews.iloc[[0,2,8,12],1]

0     A00001
2     A00003
8     A00009
12    A00013
Name: accession_number, dtype: object

In [43]:
reviews.iloc[-5:,1]

69196    T13865
69197    T13866
69198    T13867
69199    T13868
69200    T13869
Name: accession_number, dtype: object

In [44]:
reviews.loc[0:5, 'dimensions']

0    support: 394 x 419 mm
1    support: 311 x 213 mm
2    support: 343 x 467 mm
3    support: 318 x 394 mm
4      image: 243 x 335 mm
5      image: 240 x 338 mm
Name: dimensions, dtype: object

In [49]:
reviews.loc[[0,4], ['artist', 'title', 'dimensions']]

,artist,title,dimensions
0,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,support: 394 x 419 mm
4,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,image: 243 x 335 mm

In [50]:
reviews.loc[[0,3,150],'artist': 'year']

,artist,artistRole,...,creditLine,year
0,"Blake, Robert",artist,...,Presented by Mrs John Richmond 1922,NaN
3,"Blake, Robert",artist,...,Presented by Mrs John Richmond 1922,NaN
150,"Callow, William",artist,...,Purchased 1912,1844

In [24]:
reviews.iloc[-5:,0:]

,id,accession_number,...,thumbnailUrl,url
69196,122960,T13865,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69197,122961,T13866,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69198,121181,T13867,...,NaN,http://www.tate.org.uk/art/artworks/hatoum-pre...
69199,112306,T13868,...,NaN,http://www.tate.org.uk/art/artworks/creed-work...
69200,127035,T13869,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/brunias-da...

In [25]:
n_rev = reviews.set_index("artistId")
n_rev

,id,accession_number,...,thumbnailUrl,url
artistId,,,,,
38,1035,A00001,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
38,1036,A00002,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
38,1037,A00003,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
38,1038,A00004,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
39,1039,A00005,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...
16646,122960,T13865,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
16646,122961,T13866,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
2365,121181,T13867,...,NaN,http://www.tate.org.uk/art/artworks/hatoum-pre...
2760,112306,T13868,...,NaN,http://www.tate.org.uk/art/artworks/creed-work...
3824,127035,T13869,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/brunias-da...

In [28]:
reviews.loc[:10,'artistId':'units']

,artistId,title,...,depth,units
0,38,A Figure Bowing before a Seated Old Man with h...,...,NaN,mm
1,38,"Two Drawings of Frightened Figures, Probably f...",...,NaN,mm
2,38,The Preaching of Warning. Verso: An Old Man En...,...,NaN,mm
3,38,Six Drawings of Figures with Outstretched Arms,...,NaN,mm
4,39,The Circle of the Lustful: Francesca da Rimini...,...,NaN,mm
5,39,Ciampolo the Barrator Tormented by the Devils,...,NaN,mm
6,39,The Baffled Devils Fighting,...,NaN,mm
7,39,The Six-Footed Serpent Attacking Agnolo Brunel...,...,NaN,mm
8,39,The Serpent Attacking Buoso Donati,...,NaN,mm
9,39,The Pit of Disease: The Falsifiers,...,NaN,mm
10,39,Dante Striking against Bocca Degli Abati,...,NaN,mm

In [30]:
reviews.artist == 'Blake, Robert'

0         True
1         True
2         True
3         True
4        False
         ...
69196    False
69197    False
69198    False
69199    False
69200    False
Name: artist, Length: 69201, dtype: bool

In [31]:
reviews.loc[reviews.artist == 'Blake, Robert']

,id,accession_number,...,thumbnailUrl,url
0,1035,A00001,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...

In [32]:
reviews

,id,accession_number,...,thumbnailUrl,url
0,1035,A00001,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...
69196,122960,T13865,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69197,122961,T13866,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69198,121181,T13867,...,NaN,http://www.tate.org.uk/art/artworks/hatoum-pre...
69199,112306,T13868,...,NaN,http://www.tate.org.uk/art/artworks/creed-work...
69200,127035,T13869,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/brunias-da...

In [36]:
reviews.loc[reviews.width == '310']

,id,accession_number,...,thumbnailUrl,url
1994,97422,AR00257,...,NaN,http://www.tate.org.uk/art/artworks/warhol-sta...
2562,105740,AR00825,...,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-jose...
3572,28091,D00676,...,http://www.tate.org.uk/art/images/work/D/D00/D...,http://www.tate.org.uk/art/artworks/turner-a-w...
7494,32032,D04639,...,http://www.tate.org.uk/art/images/work/D/D04/D...,http://www.tate.org.uk/art/artworks/turner-mon...
27925,52544,D25207,...,http://www.tate.org.uk/art/images/work/D/D25/D...,http://www.tate.org.uk/art/artworks/turner-lou...
27926,52545,D25208,...,http://www.tate.org.uk/art/images/work/D/D25/D...,http://www.tate.org.uk/art/artworks/turner-tre...
27928,52547,D25210,...,http://www.tate.org.uk/art/images/work/D/D25/D...,http://www.tate.org.uk/art/artworks/turner-the...
27998,52617,D25280,...,http://www.tate.org.uk/art/images/work/D/D25/D...,http://www.tate.org.uk/art/artworks/turner-a-t...
28012,52631,D25294,...,http://www.tate.org.uk/art/images/work/D/D25/D...,http://www.tate.org.uk/art/artworks/turner-the...
38758,63418,D36333,...,http://www.tate.org.uk/art/images/work/D/D36/D...,http://www.tate.org.uk/art/artworks/turner-cop...
45485,9746,P02135,...,http://www.tate.org.uk/art/images/work/P/P02/P...,http://www.tate.org.uk/art/artworks/moore-two-...
45578,9835,P02228,...,http://www.tate.org.uk/art/images/work/P/P02/P...,http://www.tate.org.uk/art/artworks/moore-shee...
48619,10961,P06403,...,NaN,http://www.tate.org.uk/art/artworks/organ-geof...
49738,11753,P07706,...,http://www.tate.org.uk/art/images/work/P/P07/P...,http://www.tate.org.uk/art/artworks/phillips-c...
49770,747,P07738,...,http://www.tate.org.uk/art/images/work/P/P07/P...,http://www.tate.org.uk/art/artworks/baselitz-u...
51531,80132,P12190,...,NaN,http://www.tate.org.uk/art/artworks/motherwell...
51713,80752,P12372,...,http://www.tate.org.uk/art/images/work/P/P12/P...,http://www.tate.org.uk/art/artworks/sultan-red...
52101,27122,P13297,...,NaN,http://www.tate.org.uk/art/artworks/araki-unti...
52102,27123,P13298,...,NaN,http://www.tate.org.uk/art/artworks/araki-unti...
52520,109710,P20382,...,http://www.tate.org.uk/art/images/work/P/P20/P...,http://www.tate.org.uk/art/artworks/furlong-po...
53287,21499,P77788,...,http://www.tate.org.uk/art/images/work/P/P77/P...,http://www.tate.org.uk/art/artworks/hamilton-f...
60918,17269,T05491,...,http://www.tate.org.uk/art/images/work/T/T05/T...,http://www.tate.org.uk/art/artworks/kapoor-unt...
62302,21090,T06887,...,http://www.tate.org.uk/art/images/work/T/T06/T...,http://www.tate.org.uk/art/artworks/underwood-...
62329,21119,T06915,...,http://www.tate.org.uk/art/images/work/T/T06/T...,http://www.tate.org.uk/art/artworks/de-monchau...
62358,21232,T06944,...,http://www.tate.org.uk/art/images/work/T/T06/T...,http://www.tate.org.uk/art/artworks/paolozzi-m...
63512,23823,T08147,...,http://www.tate.org.uk/art/images/work/T/T08/T...,http://www.tate.org.uk/art/artworks/towne-the-...
64779,22635,T09414,...,http://www.tate.org.uk/art/images/work/T/T09/T...,http://www.tate.org.uk/art/artworks/cozens-a-t...
65166,24598,T09801,...,http://www.tate.org.uk/art/images/work/T/T09/T...,http://www.tate.org.uk/art/artworks/rigby-titl...
67351,85551,T12005,...,NaN,http://www.tate.org.uk/art/artworks/breton-elu...
67507,89737,T12162,...,http://www.tate.org.uk/art/images/work/T/T12/T...,http://www.tate.org.uk/art/artworks/trevelyan-...
67714,91984,T12371,...,NaN,http://www.tate.org.uk/art/artworks/barriball-...
68550,110058,T13218,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/li-012-t13218
68612,113683,T13280,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/choucair-t...
69123,126041,T13792,...,NaN,http://www.tate.org.uk/art/artworks/johnson-un...

In [37]:
reviews.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [41]:
reviews.loc[((reviews.id >= 52000) & (reviews.artistId > 2000)) & (reviews.artist == 'Warhol, Andy')]

,id,accession_number,...,thumbnailUrl,url
1776,97346,AR00039,...,NaN,http://www.tate.org.uk/art/artworks/warhol-man...
1777,97347,AR00040,...,NaN,http://www.tate.org.uk/art/artworks/warhol-gil...
1967,97345,AR00230,...,NaN,http://www.tate.org.uk/art/artworks/warhol-ale...
1968,97355,AR00231,...,NaN,http://www.tate.org.uk/art/artworks/warhol-gun...
1969,97392,AR00232,...,NaN,http://www.tate.org.uk/art/artworks/warhol-rob...
...,...,...,...,...,...
2346,97348,AR00609,...,NaN,http://www.tate.org.uk/art/artworks/warhol-sku...
2347,97349,AR00610,...,NaN,http://www.tate.org.uk/art/artworks/warhol-sel...
2348,99113,AR00611,...,NaN,http://www.tate.org.uk/art/artworks/warhol-cam...
2349,97435,AR00612,...,NaN,http://www.tate.org.uk/art/artworks/warhol-ins...
67939,66602,T12600,...,http://www.tate.org.uk/art/images/work/T/T12/T...,http://www.tate.org.uk/art/artworks/warhol-bro...

In [42]:
reviews.loc[reviews.medium.isin(['Graphite on paper', 'Line engraving on paper'])]

,id,accession_number,...,thumbnailUrl,url
1,1036,A00002,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
3,1038,A00004,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...
68927,117540,T13596,...,NaN,http://www.tate.org.uk/art/artworks/cluett-unt...
68928,117542,T13597,...,NaN,http://www.tate.org.uk/art/artworks/cluett-unt...
69091,89802,T13760,...,NaN,http://www.tate.org.uk/art/artworks/constable-...
69092,90066,T13761,...,NaN,http://www.tate.org.uk/art/artworks/constable-...
69129,117242,T13798,...,NaN,http://www.tate.org.uk/art/artworks/takamatsu-...

In [43]:
reviews.loc[reviews.year.isnull()]

,id,accession_number,...,thumbnailUrl,url
0,1035,A00001,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
3,1038,A00004,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
50,1505,A00051,...,NaN,http://www.tate.org.uk/art/artworks/british-sc...
51,1506,A00052,...,NaN,http://www.tate.org.uk/art/artworks/british-sc...
...,...,...,...,...,...
67774,93819,T12432,...,http://www.tate.org.uk/art/images/work/T/T12/T...,http://www.tate.org.uk/art/artworks/koller-arc...
67934,27098,T12595,...,NaN,http://www.tate.org.uk/art/artworks/pettibon-a...
67935,27108,T12596,...,NaN,http://www.tate.org.uk/art/artworks/pettibon-u...
67989,99356,T12650,...,http://www.tate.org.uk/art/images/work/T/T12/T...,http://www.tate.org.uk/art/artworks/roberts-te...
68674,113918,T13343,...,NaN,http://www.tate.org.uk/art/artworks/wilson-205...

In [44]:
reviews.loc[reviews.year.notnull()]

,id,accession_number,...,thumbnailUrl,url
2,1037,A00003,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
4,1039,A00005,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
7,1042,A00008,...,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...
69196,122960,T13865,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69197,122961,T13866,...,NaN,http://www.tate.org.uk/art/artworks/p-orridge-...
69198,121181,T13867,...,NaN,http://www.tate.org.uk/art/artworks/hatoum-pre...
69199,112306,T13868,...,NaN,http://www.tate.org.uk/art/artworks/creed-work...
69200,127035,T13869,...,http://www.tate.org.uk/art/images/work/T/T13/T...,http://www.tate.org.uk/art/artworks/brunias-da...

In [46]:
reviews['id'] = range(len(reviews), 0, -1)
reviews['id']

0        69201
1        69200
2        69199
3        69198
4        69197
         ...
69196        5
69197        4
69198        3
69199        2
69200        1
Name: id, Length: 69201, dtype: int64

In [48]:
reviews.artistId.describe()

count    69201.000000
mean      1201.063251
std       2019.422535
min          0.000000
25%        558.000000
50%        558.000000
75%       1137.000000
max      19232.000000
Name: artistId, dtype: float64

In [49]:
reviews.artist.describe()

count                              69201
unique                              3336
top       Turner, Joseph Mallord William
freq                               39389
Name: artist, dtype: object

In [50]:
reviews.describe()

                  id      artistId  acquisitionYear         depth
count   69201.000000  69201.000000     69156.000000   2514.000000
mean    39148.026213   1201.063251      1910.646856    479.197772
std     25980.468687   2019.422535        64.202148   1051.141734
min         3.000000      0.000000      1823.000000      1.000000
25%     19096.000000    558.000000      1856.000000     48.250000
50%     37339.000000    558.000000      1856.000000    190.000000
75%     54712.000000   1137.000000      1982.000000    450.000000
max    129068.000000  19232.000000      2013.000000  18290.000000